.container-main {
  background-color: var(--gray-500);
  padding: 72px 120px 144px 120px;
}

.container-main span {
  color: var(--red);
  font: var(--subtitle);
}

.container-main {
  text-align: center;
}

.container-main h2 {
  padding-top: 8px;
  padding-bottom: 56px;
}

h2 {
  color: var(--gray-100);
  font: var(--title-md);
  text-align: center;
}

.components {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  gap: 24px;
  width: 1040px;
}

.container-servicos span {
  font: var(--subtitle);
  color: var(--red);
}

.container-servicos {
  text-align: center;
}

.page-main {
  background-color: var(--gray-600);
  padding: 88px 120px 120px 120px;
}

.components-2 {
  display: flex;
  gap: 24px;
  justify-self: center;
}

.container-servicos h2 {
  padding-block: 56px;
}

.contato {
  background-image: url(../assets/images/Background_Contacts.png);
  text-align: center;
  padding: 128px 120px 200px 120px;
}

.infos span {
  font: var(--subtitle);
  color: var(--purple);
}

.infos p {
  font: var(--text-md-regular);
  color: var(--gray-200);
  text-align: center;
}

.infos h2 {
  padding-top: 8px;
  padding-block: 8px;
}

.linkedin {
  display: flex;
  background-color: var(--gray-400);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: var(--gray-200);
  font: var(--text-md-regular);
  width: 400px;
  gap: 12px;
  text-decoration: none;
}

.linkedin span {
  flex: 1;
  color: var(--gray-200);
  font: var(--text-md-regular);
  text-align: start;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
}
