.introduction p {
  color: var(--gray-200);
  font: var(--subtitle);
  padding-bottom: 8px;
}

.introduction {
  text-align: center;
}

.introduction span {
  color: var(--red);
}

.introduction h1 {
  font: var(--title-lg);
  color: var(--gray-100);
  padding-bottom: 20px;
}

.introduction div {
  color: var(--gray-300);
  font: var(--text-sm-regular);
  padding-bottom: 80px;
}

.page {
  padding: 120px 163px 57px 163px;

  background-image: url(../assets/images/Background_Intro.png);
}
.introduction img {
  border-radius: 999px;
  width: 96px;
  height: 96px;

  height: 100%;
  border: 2px solid var(--red, #e3646e);
  position: relative;
}

.bottom {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: row;
}

.img-seta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 94px;
}
.container-main {
  background-color: var(--gray-500);
  padding: 72px 120px 144px 120px;
}

.container-main span {
  color: var(--red);
  font: var(--subtitle);
}

.container-main {
  text-align: center;
}

.container-main h2 {
  padding-top: 8px;
  padding-bottom: 56px;
}

h2 {
  color: var(--gray-100);
  font: var(--title-md);
  text-align: center;
}

.components {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  gap: 24px;
  width: 1040px;
}

.container-servicos span {
  font: var(--subtitle);
  color: var(--red);
}

.container-servicos {
  text-align: center;
}

.page-main {
  background-color: var(--gray-600);
  padding: 88px 120px 120px 120px;
}

.components-2 {
  display: flex;
  gap: 24px;
  justify-self: center;
}

.container-servicos h2 {
  padding-block: 56px;
}

.contato {
  background-image: url(../assets/images/Background_Contacts.png);
  text-align: center;
  padding: 128px 120px 200px 120px;
}

.infos span {
  font: var(--subtitle);
  color: var(--purple);
}

.infos p {
  font: var(--text-md-regular);
  color: var(--gray-200);
  text-align: center;
}

.infos h2 {
  padding-top: 8px;
  padding-block: 8px;
}

.botao {
  display: grid;
  justify-self: center;
  gap: 16px;
  padding-top: 48px;
}
